/* Naruto Theme */

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #ff9a3c, #d83a00);
  color: white;
  font-family: "Trebuchet MS", sans-serif;
}

/* Navbar */
.naruto-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 18px 40px;
  background: rgba(10, 10, 10, 0.92);

  border-bottom: 4px solid #ffcc00;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.6);
}

/* Logo */
.naruto-logo {
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0;
  color: #ffcc00;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

/* Links container */
.naruto-links {
  display: flex;
  gap: 25px;
}

/* Links */
.naruto-link {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;

  padding: 8px 14px;
  border-radius: 8px;

  border: 2px solid transparent;
  transition: 0.3s;
}

.naruto-link:hover {
  color: #ffcc00;
  border: 2px solid #ffcc00;
  box-shadow: 0px 0px 12px rgba(255, 204, 0, 0.6);
}

/* Active Link */
.naruto-active {
  text-decoration: none;
  color: black;
  background: #ffcc00;

  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;

  padding: 8px 14px;
  border-radius: 8px;

  box-shadow: 0px 0px 18px rgba(255, 204, 0, 0.9);
  transition: 0.3s;
}

/* Main content */
.naruto-content {
  padding: 30px;
}

/* Titles */
h1 {
  font-size: 34px;
  font-weight: 900;
  color: white;
  text-transform: uppercase;
  text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.8);
}

/* Cards (para cuando consumas la API) */
.card {
  background: rgba(0, 0, 0, 0.75);
  border: 2px solid #ffcc00;
  padding: 20px;
  border-radius: 12px;
  margin-top: 15px;
  box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.6);
}